{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        ring/ring-core {:mvn/version "1.12.2"}
        ring/ring-jetty-adapter {:mvn/version "1.12.2"}
        ring/ring-json {:mvn/version "0.5.1"}
        compojure/compojure {:mvn/version "1.7.1"}
        org.clojure/tools.logging {:mvn/version "1.3.0"}
        ch.qos.logback/logback-classic {:mvn/version "1.5.12"}}
 :aliases {
           :run {
                 :main-opts ["-m" "pets-api.core"]
                 }
          :build {
                  :deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}}
                   :ns-default build
                   }
          }
 }
